*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.todo-container{
    width: 800px;
    margin: 30px auto 0;
    background-color: #f6f6f6;
}
.todo-container .add-task{
    padding: 15px;
    background-color: #009688;
    border-radius: 10px;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.todo-container .add-task input{
    display: inline-block;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: rgba(255 255 255 /0.3);
    width: calc(100% - 15px);
    color: #fff;
    font-size: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.todo-container .add-task input:focus{
    outline: none;
}
.todo-container .add-task .plus{
    position: absolute;
    height: 43px;
    width: 43px;
    background-color: #fff;
    right: 12px;
    border-radius: 50%;
    line-height: 43px;
    text-align: center;
    color: #009688;
    cursor: pointer;
    transition: 0.5s;
    font-size: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.todo-container .add-task .plus:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.todo-container .task-content{
    padding: 15px;
}
.todo-container .task-content .no-task{
    font-size: 15px;
    color: #777;
}
.todo-container .task-content > span{
    display: block;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.todo-container .task-content > span:not(:last-child){
    margin-bottom: 10px;
}
.todo-container .task-content  .task-box .delete{
    float: right;
    background-color: #e91e63;
    padding: 4px 10px;
    color: #fff;
    font-size: 10px;
    border-radius:4px ;
    font-weight: bold;
    cursor: pointer;
    -webkit-border-radius:4px ;
    -moz-border-radius:4px ;
    -ms-border-radius:4px ;
    -o-border-radius:4px ;
}
.todo-container .task-content  .task-box.finished{
    text-decoration: line-through;
    color: #03a9f4;
    cursor: pointer;
}
.task-stats{
    overflow: hidden;
    margin: 10px auto;
    width: 600px;
    font-size: 12px;
}
.task-stats .tasks-count{
    width: 50%;
    float: left;
    padding: 10px;
}
.task-stats .task-completed{
    width: 50%;
    float: right;
    padding: 10px;
    text-align: right;
}
.task-stats .tasks-count span ,
.task-stats .task-completed span{
    color: #fff;
    padding: 1px 5px;
    font-size: 10px;
    border-radius: 4px;
    font-weight: bold;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.task-stats .tasks-count span{
    background-color: #e91e63;
}
.task-stats .task-completed span{
    background-color: #03a9f4;
}